@model ASPDOTNETCoreBasics.Models.UserViewModel

@{
    ViewData["Title"] = "SignUp";
}

<h1>SignUp</h1>

<h4>UserViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SignUp">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact" class="control-label"></label>
                <input asp-for="Contact" class="form-control" />
                <span asp-validation-for="Contact" class="text-danger"></span>
            </div>
             <div class="form-group">
                 <br />
                 <label asp-for="Country" class="control-label"></label>
                  <select asp-for="Country" name="country" id="countySel" size="1">
                  <option value="" selected="selected">Select Country</option>
                  </select>
                  <span asp-validation-for="Country" class="text-danger"></span>
                  </div>
             <div class="form-group">
                 <br />
                 <label asp-for="City" class="control-label"></label>
                 <select asp-for="City" name="city" id="citySel" size="1" required>
                 <option value="" selected="selected">Please select Country first</option>
                 </select>
                 <span asp-validation-for="City" class="text-danger"></span>
            </div>
          <div class="form-group">
              <br />
                <label asp-for="Gender" class="control-label"></label><br />
                <input type="radio" asp-for="Gender" value="Male" id="Male" /> Male
                <input type="radio" asp-for="Gender" value="Female" id="Female" /> Female
                <input type="radio" asp-for="Gender" value="Unspecified" id="Unspecified" /> Unspecified
                <br /> <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <br />
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Terms" /> @Html.DisplayNameFor(model => model.Terms)
                    <span asp-validation-for="Terms" class="text-danger"></span>
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="SignUP" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@section Scripts{
<partial name="_ValidationScriptsPartial" />
<script>
    jQuery.validator.unobtrusive.adapters.add("checkbox", function (options) {
         if (options.element.tagName.toUpperCase() == "INPUT" && options.element.type.toUpperCase() === "CHECKBOX") {
             options.rules["required"] = true;
             if (options.message) {
                 options.messages["required"] = options.message;
             }
         }
     });

 var cityObject = {
"India":  ["Delhi","Mumbai","Goa","Pune","Chennai"],
"Australia":["Sydney","Melbourne","Perth","Darwin"],
"USA":["New York","San Francisco","Chicago","LA","Boston"],
"Canada":["Toronto","Ottawa","Vancouver","Montreal"]
}
window.onload = function () {
var countySel = document.getElementById("countySel");
var citySel = document.getElementById("citySel");
for (var Country in cityObject) {
countySel.options[countySel.options.length] = new Option(Country, Country);
}
countySel.onchange = function () {
citySel.length = 1; // remove all options bar first
if (this.selectedIndex < 1) return; // done 
if(this.selectedIndex >=1){
    for(var i =0; i<cityObject[this.value].length; i++){
        citySel.innerHTML += `<option  value=${cityObject[this.value][i]}  >${cityObject[this.value][i]}</option>`
    }
}
}
countySel.onchange(); // reset in case page is reloaded

}

</script>
}


